build/
cmake-build-*/
*.o
*.obj
*.exe
*.app
*.so
*.dylib
*.dll
*.a
*.lib
.DS_Store
*.user
*.pro.user*
Makefile
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
*.autosave
*.swp
*.swo
*~
.vscode/
.idea/
*.kdev4
moc_*.cpp
ui_*.h
qrc_*.cpp
